/* *FONTS */
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(../fonts/Roboto-LightItalic.ttf) format('truetype');
}

/* *MISC */
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto-Regular', sans-serif;
}

button {
    background-color: #3882f6;
    font-family: 'Roboto-Black', sans-serif;
    font-size: 18px;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border-style: none;
    margin: 20px 0;
}

/* *MAIN COLORS */
header, .hero, .quote, .call-to-action, footer {
    background-color: #1f2937;
}

.random-content, button:hover, .random-content figcaption, .quote {
    color: #1f2937;
}

.random-content, .call-to-action {
    background-color: #f9faf8;
}

button, header h1, nav, nav a:any-link, aside h1, .call-to-action {
    color: #f9faf8;
}

/* *HEADER */
header {
    text-align: center;
    height: 100px;
    padding: 30px 90px 30px 90px;
}

header h1 {
    display: inline-block;
    font-size: 24px;
    margin-right: 400px;
}

nav {
    display: inline-block;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    margin-left: 30px;
}

nav a:hover {
    color: #3882f6
}

/* *HERO SECTION */
.hero {
    text-align: center;
    height: 500px;
    padding: 100px; 
}

aside {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 450px;
    height: 250px;
    margin-right: 50px;
}

.hero img {
    width: 500px;
    height: 250px;
}

aside h1 {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 48px;
}

aside p {
    font-size: 18px;
    color: #e5e7eb;
}

/* *RANDOM-CONTENT SECTION */
.random-content {
    height: 500px;
    text-align: center;
}

.random-content h1 {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 36px;
    padding: 40px;
}

.random-content figure {
    display: inline-block;
    height: 250px;
    width: 180px;
    margin: 20px;
}

.random-content img {
    height: 170px;
    width: 170px;
    border: solid 4px #3882f6;
    border-radius: 20px;
    object-fit: cover;
}

.random-content figcaption {
    font-size: 18px;
    margin: 5px;
}

/* *QUOTE SECTION */
.quote {
    text-align: center;
    height: 500px;
    background-color: #e5e7eb;
    padding: 130px; 
}

.quote blockquote {
    display: inline-block;
    text-align: left;
    width: 80%;
    min-width: 350px;
    max-width: 790px;
    font-family: 'Roboto-LightItalic', sans-serif;
    font-size: 36px;
}

.quote .author {
    display: block;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    margin-right: 30px;
}

/* *CALL-TO-ACTION SECTION */
.call-to-action {
    height: 500px;
    text-align: center;
    padding: 150px; 
}

.call-to-action .container {
    display: inline-block;
    text-align: center;
    width: 80%;
    max-width: 1000px;
    height: 170px;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 50px;
}

.call-to-action aside {
    width: 60%;
    max-width: 500px;
    min-width: 285px;
    height: 100px;
    text-align: left;
    font-size: 24px;
}

.call-to-action aside p {
    font-size: 18px;
    color: #e5e7eb;
}

.call-to-action button {
    border: solid 2px #f9faf8;
    margin: 10px 0 0 100px;   
}

.call-to-action button:hover {
    border-color:#1f2937;
}

/* *FOOTER */
footer {
    text-align: center;
    height: 150px;
    color: #e5e7eb;
    padding: 50px;
}

/* Add media queries for responsive design... */
@media (max-width: 1392px) {
    .call-to-action button {
        margin: 10px 0 0 0;  
    }
}

@media (max-width: 1220px) {
    header h1 {
        margin-right: 50px;
    }
    .hero {
        height: 800px;
    }
    .hero aside {
        margin-bottom: 70px;
    }  
}

@media (max-width: 1080px) {
    .call-to-action .container {
        height: 250px;
    }
    .call-to-action aside {
        text-align: center;
        margin-left: 50px;
    }
}

@media (max-width: 910px) {
    header {
        text-align: left;
        height: 200px;
    }
    header h1 {
        display: block;
        margin-bottom: 30px;
    }
    nav a {
        display: block;
        margin-left: 0;
    }
    .random-content {
        height: 800px;
    }
    .quote {
        height: 600px;
    }
}


